In [7]:
#Load the Data and Check Its Dimensions
import pandas as pd

# Load the dataset
data = pd.read_csv('NTAD_National_Transit_Map_Stops_6441998935608889887.csv')

# Check the shape of the dataset
print("Shape of the data:", data.shape)

Shape of the data: (11846, 20)

In [8]:
# Inspect the Data Structure and Basic Information
# Get an overview of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11846 entries, 0 to 11845
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OBJECTID             11846 non-null  int64
 1   ntd_id               11846 non-null  object
 2   stop_id              11846 non-null  object
 3   stop_name            11846 non-null  object
 4   stop_desc            883 non-null    object
 5   stop_lat             11846 non-null  float64
 6   stop_lon             11846 non-null  float64
 7   zone_id              5 non-null      float64
 8   stop_url             67 non-null     object
 9   stop_code            10894 non-null  object
 10  location_type        3968 non-null   object
 11  parent_station       251 non-null    object
 12  stop_timezone        598 non-null    object
 13  wheelchair_boarding  11845 non-null  object
 14  level_id             0 non-null      float64
 15  platform_code        0 non-null      float64
 16  agency_id            0 non-null      float64
 17  download_date        11846 non-null  object
 18  x                    11846 non-null  float64
 19  y                    11846 non-null  float64
dtypes: float64(8), int64(1), object(11)
memory usage: 1.8+ MB

In [9]:
# Preview the First Few Rows
# Preview the first 5 rows of the dataset
print(data.head())

   OBJECTID                                             ntd_id  stop_id  \
0    387339                                              90154    14710
1    631486  90269;90270;90271;90272;90273;90274;90275;9027...  2525664
2    387007                                              90154    14143
3    390991                                              90154   80704S
4    390588                                              90154     2319

                    stop_name stop_desc   stop_lat    stop_lon  zone_id  \
0        State / Independence       NaN  33.958450 -118.211760      NaN
1          92nd St & Maie Ave       NaN  33.953366 -118.243808      NaN
2          Western / Florence       NaN  33.974159 -118.309117      NaN
3  Downtown Inglewood Station       NaN  33.967156 -118.351497      NaN
4  Hawthorne / Lennox Station       NaN  33.933451 -118.352446      NaN

  stop_url stop_code location_type parent_station        stop_timezone  \
0      NaN     14710           NaN            NaN                  NaN
1      NaN       NaN             0            NaN  America/Los_Angeles
2      NaN     14143           NaN            NaN                  NaN
3      NaN    80704S             1            NaN                  NaN
4      NaN      2319           NaN            NaN                  NaN

  wheelchair_boarding  level_id  platform_code  agency_id download_date  \
0                Null       NaN            NaN        NaN    09-09-2024
1                   0       NaN            NaN        NaN    09-09-2024
2                Null       NaN            NaN        NaN    09-09-2024
3                Null       NaN            NaN        NaN    09-09-2024
4                Null       NaN            NaN        NaN    09-09-2024

            x          y
0 -118.211760  33.958450
1 -118.243808  33.953366
2 -118.309117  33.974159
3 -118.351497  33.967156
4 -118.352446  33.933451

In [10]:
# Count Unique Values in a Specific Column
# Count the values in the 'OBJECTID' column (or any other relevant column)
print(data['OBJECTID'].value_counts())

OBJECTID
387699    1
387339    1
631486    1
387007    1
390991    1
         ..
380177    1
641565    1
385750    1
389331    1
170654    1
Name: count, Length: 11846, dtype: int64